{% extends '@RiaWeb/layouts/layout.html.twig' %}

{% block title %}{{ story.title }} | Report.ge{% endblock %}

{% block meta %}
    <meta property="og:title" content="{{ story.title }}">
    <meta property="og:description" content="{{ story.description|striptags }}">
    {% if story.cover is not empty %}
        <meta property="og:image" content="{{ image(story.cover) }}">
    {% endif %}
{% endblock %}

{% block content %}

    {{ registerScripts('site/js/load-posts.js') }}

    {% set storyAbsoluteUrl = url('story_view', {slug: story.slug}) %}

    <section class="story-page pt-20">

        <div class="story-intro cover-center" style="background-image: url({{ image(story.cover) }})">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="story-block text-center">
                            <span class="label">{{ 'story'|trans({}, 'stories') }}</span>
                            <h1 class="title">{{ story.title }}</h1>
                            <div class="description">
                                <p>{{ story.description|raw }}</p>
                            </div>

                            <ul class="share-story">
                                <li>
                                    <a class="btn-facebook"
                                       href="https://www.facebook.com/sharer.php?u={{ storyAbsoluteUrl }}"
                                       target="_blank">
                                        <i class="icon-facebook"></i></a>
                                </li>
                                <li>
                                    <a class="btn-whatsapp"
                                       href="https://api.whatsapp.com/send?text={{ storyAbsoluteUrl }}"
                                       target="_blank">
                                        <i class="icon-whatsapp"></i></a>
                                </li>
                                <li>
                                    <a class="btn-telegram"
                                       href="https://telegram.me/share/url?url={{ storyAbsoluteUrl }}"
                                       target="_blank">
                                        <i class="icon-telegram"></i></a>
                                </li>
                            </ul>
                        </div>

                        <div class="divider"></div>

                        <div class="recent-stories">
                            <div class="row">

                                {% for post in story.posts|slice(0, 3) %}

                                    <div class="col-md-4 col-sm-6">
                                        <div class="news-item">
                                            <a class="title"
                                               href="{{ '/' ~ post.category_slug ~ '/' ~ post.slug ~ '/' }}">{{ post.getPreparedTitle()|raw }}</a>
                                            <div class="news-date">
                                                <span>{{ post.publishedAt|format_datetime(pattern='d MMMM, y') }}</span>
                                                <span>{{ post.publishedAt|date('H:i') }}</span>
                                            </div>
                                        </div>
                                    </div>

                                {% endfor %}

                            </div>
                        </div>
                        <!-- Recent stories-->
                    </div>
                </div>
            </div>
        </div>
        <!-- Story intro-->

        <div class="container ptb-5">
            <div class="row">
                <div class="col-12">
                    <h2 class="page-title">{{ story.title }}</h2>

                    <div class="news-list">
                        <div class="row load-container" data-url="{{ path('story_ajax', {'storyId': story.id}) }}">
                            {% include '@RiaWeb/index/partials/_category-post-item.html.twig' with {'posts': story.posts|slice(3)} %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement":
        [
            {
                "@type": "ListItem",
                "position": 1,
                "item":
                {
                    "@id":"{{ url('index') }}" ,
                    "name":"{{ 'main_page'|trans({}, 'common') }}"
                }
            },
            {
                "@type": "ListItem",
                "position": 2,
                "item":
                {
                    "name": "{{ story.title|addcslashes('"')|raw }}"
                }
            }
        ]
    }

    </script>


{% endblock %}