{% extends '@RiaWeb/layouts/layout.html.twig' %}

{% block title %}{{ tag.name }} | Report.ge{% endblock %}

{% block meta %}
    <meta name="description" content="{{ tag.name }}">
    <meta property="og:title" content="{{ tag.name }}">
{% endblock %}

{% block content %}

    {{ registerScripts('site/js/load-posts.js') }}

    <section class="category-page">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <br>
                    <h1 class="page-title">#{{ tag.name }}</h1>

                    <div class="news-list">
                        <div class="row load-container"
                             data-url="{{ path('tag_ajax', {'tagId': tag.id}) }}">

                            {% include '@RiaWeb/index/partials/_category-post-item.html.twig' with {'posts': posts} %}

                        </div>
                    </div>
                    <!-- News list-->
                </div>
            </div>
        </div>
    </section>
    <!-- Category page-->

    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement":
        [
            {
                "@type": "ListItem",
                "position": 1,
                "item":
                {
                    "@id":"{{ url('index') }}" ,
                    "name":"{{ 'main_page'|trans({}, 'common') }}"
                }
            },
            {
                "@type": "ListItem",
                "position": 2,
                "item":
                {
                    "name": "{{ tag.name|addcslashes('"')|raw }}"
                }
            }
        ]
    }

    </script>

{% endblock %}