{% set postAbsoluteUrl = url('post_amp', {'categorySlug': post.category_slug, 'slug': post.slug}) %}
{% set postPhoto = image(post.image, {'thumb': 850}) %}
{% set preparedPostContent = post.getPreparedAmpContent(pipeline) %}

<!DOCTYPE html>
<html amp="" lang="{{ post.language }}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--
          All additionally used AMP components must be imported in the header.
        -->
    {% if '<amp-youtube' in preparedPostContent or post.hasYoutubeVideo() %}
        <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
    {% endif %}

    {% if '<amp-facebook' in preparedPostContent %}
        <script async custom-element="amp-facebook" src="https://cdn.ampproject.org/v0/amp-facebook-0.1.js"></script>
    {% endif %}

    {% if '<amp-twitter' in preparedPostContent %}
        <script async custom-element="amp-twitter" src="https://cdn.ampproject.org/v0/amp-twitter-0.1.js"></script>
    {% endif %}

    {% if '<amp-instagram' in preparedPostContent %}
        <script async custom-element="amp-instagram" src="https://cdn.ampproject.org/v0/amp-instagram-0.1.js"></script>
    {% endif %}

    {% if '<amp-vk' in preparedPostContent %}
        <script async custom-element="amp-vk" src="https://cdn.ampproject.org/v0/amp-vk-0.1.js"></script>
    {% endif %}

    {% if '<amp-iframe' in preparedPostContent %}
        <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
    {% endif %}

    {% if post.isPhoto() %}
        <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
    {% endif %}

    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>

    <link rel="canonical" href="{{ postAbsoluteUrl }}"/>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta property="fb:app_id" content="556232207843315">
    <title>{{ post.title ~ ' Report.ge' }}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,400italic,700,700italic">
    <link href="{{ asset('site/images/favicons/favicon.ico') }}" rel="shortcut icon" type="image/x-icon"/>

    <script async src="https://cdn.ampproject.org/v0.js"></script>

    <style amp-boilerplate>
        body {
            -webkit-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
            -moz-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
            -ms-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
            animation: -amp-start 8s steps(1, end) 0s 1 normal both
        }

        @-webkit-keyframes -amp-start {
            from {
                visibility: hidden
            }
            to {
                visibility: visible
            }
        }

        @-moz-keyframes -amp-start {
            from {
                visibility: hidden
            }
            to {
                visibility: visible
            }
        }

        @-ms-keyframes -amp-start {
            from {
                visibility: hidden
            }
            to {
                visibility: visible
            }
        }

        @-o-keyframes -amp-start {
            from {
                visibility: hidden
            }
            to {
                visibility: visible
            }
        }

        @keyframes -amp-start {
            from {
                visibility: hidden
            }
            to {
                visibility: visible
            }
        }</style>
    <noscript>
        <style amp-boilerplate>body {
                -webkit-animation: none;
                -moz-animation: none;
                -ms-animation: none;
                animation: none
            }</style>
    </noscript>

    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "NewsArticle",
            "mainEntityOfPage": "{{ postAbsoluteUrl }}",
            "headline": "{{ post.getTitleWithoutQuotes() }}",
            "datePublished": "{{ post.publishedAt.format('c') }}",
            "dateModified": "{{ post.updatedAt.format('c') }}",
            "description": "{{ post.description|replace(['"'], '') }}",
            "author": {
                "@type": "Person",
                "name": "{{ post.author_name }}"
            },
            "publisher": {
                "@type": "Organization",
                "name": "Report Information Agency",
                "logo": {
                    "@type": "ImageObject",
                    "url": "{{ app.request.getSchemeAndHttpHost() }}/site/images/logo-big.png",
                    "width": 600,
                    "height": 60
                }
            },
            "image": {
                "@type": "ImageObject",
                "url": "{{ postPhoto }}",
                "height": 477,
                "width": 675
            }
        }



    </script>
    <style amp-custom>
        /* Generic WP styling */
        .alignright {
            float: right;
        }

        .alignleft {
            float: left;
        }

        .aligncenter {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .amp-wp-enforced-sizes {
            /** Our sizes fallback is 100vw, and we have a padding on the container; the max-width here prevents the element from overflowing. **/
            max-width: 100%;
            margin: 0 auto;
        }

        .amp-wp-unknown-size img {
            /** Worst case scenario when we can't figure out dimensions for an image. **/
            /** Force the image into a box of fixed dimensions and use object-fit to scale. **/
            object-fit: contain;
        }

        .header-logo amp-img {
            background-color: #fff;
            border: 1px solid #fff;
            border-radius: 50%;
            position: absolute;
            right: 18px;
            top: 10px;
        }

        .author-photo amp-img {
            border: 1px solid #194280;
            border-radius: 50%;
            position: relative;
            margin-right: 6px;
        }

        amp-iframe {

        }

        /* Template Styles */

        .amp-wp-content,
        .amp-wp-title-bar div {
            margin: 0 auto;
            max-width: 600px;
        }

        body {
            background: #fff;
            color: #353535;
            font-family: 'Merriweather', 'Times New Roman', Times, Serif;
            font-weight: 300;
            line-height: 1.75em;
        }

        p,
        ol,
        ul,
        figure {
            margin: 0 0 1em;
            padding: 0;
        }

        a,
        a:visited {
            color: #194280;
        }

        a:hover,
        a:active,
        a:focus {
            color: #353535;
        }

        /* Quotes */

        blockquote {
            color: #353535;
            background: rgba(127, 127, 127, .125);
            border-left: 2px solid #194280;
            margin: 8px 0 24px 0;
            padding: 16px;
        }

        blockquote p:last-child {
            margin-bottom: 0;
        }

        /* UI Fonts */

        .amp-wp-meta,
        .amp-wp-header div,
        .amp-wp-title,
        .wp-caption-text,
        .amp-wp-tax-category,
        .amp-wp-tax-tag,
        .amp-wp-comments-link,
        .amp-wp-footer p,
        .back-to-top {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
        }

        /* Header */

        .amp-wp-header {
            background-color: #162e52;
        }

        .amp-wp-header div {
            color: #fff;
            font-size: 1em;
            font-weight: 400;
            margin: 0 auto;
            max-width: calc(840px - 32px);
            padding: .875em 16px;
            position: relative;
        }

        .amp-wp-header a {
            color: #c2c3c7f0;
            text-decoration: none;
            font-size: 17px;
            font-weight: 600;
        }

        /* Site Icon */

        .amp-wp-header .amp-wp-site-icon {
            /** site icon is 32px **/
            background-color: #fff;
            border: 1px solid #fff;
            border-radius: 50%;
            position: absolute;
            right: 18px;
            top: 10px;
        }

        /* Article */

        .amp-wp-article {
            color: #353535;
            font-weight: 400;
            margin: 1.5em auto;
            max-width: 840px;
            overflow-wrap: break-word;
            word-wrap: break-word;
        }

        /* Article Header */

        .amp-wp-article-header {
            align-items: center;
            align-content: stretch;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 1.5em 16px 1.5em;
        }

        .amp-wp-title {
            color: #353535;
            display: block;
            flex: 1 0 100%;
            font-weight: 900;
            margin: 0 0 .625em;
            width: 100%;
        }

        /* Article Meta */

        .amp-wp-meta {
            color: #696969;
            /* display: inline-block; */
            /* flex: 2 1 50%; */
            width: 100%;
            font-size: .875em;
            line-height: 1.5em;
            margin: 0;
            padding: 0;
        }

        .amp-wp-article-header .amp-wp-meta:first-of-type {
            margin-bottom: 10px;
        }

        .amp-wp-byline amp-img,
        .amp-wp-byline .amp-wp-author {
            display: inline-block;
            vertical-align: middle;
        }

        .amp-wp-byline amp-img {
            border: 1px solid #194280;
            border-radius: 50%;
            position: relative;
            margin-right: 6px;
        }

        /* Featured image */

        .amp-wp-article-featured-image {
            margin: 0 0 1em;
        }

        .amp-wp-article-featured-image amp-img {
            margin: 0 auto;
        }

        .amp-wp-article-featured-image.wp-caption .wp-caption-text {
            margin: 0 18px;
        }

        /* Article Content */

        .amp-wp-article-content {
            margin: 0 16px 15px 16px;
        }

        .amp-wp-article-content ul,
        .amp-wp-article-content ol {
            margin-left: 1em;
        }

        .amp-wp-article-content amp-img {
            margin: 0 auto;
        }

        .amp-wp-article-content amp-img.alignright {
            margin: 0 0 1em 16px;
        }

        .amp-wp-article-content amp-img.alignleft {
            margin: 0 16px 1em 0;
        }

        /* Captions */

        .wp-caption {
            padding: 0;
        }

        .wp-caption.alignleft {
            margin-right: 16px;
        }

        .wp-caption.alignright {
            margin-left: 16px;
        }

        .wp-caption .wp-caption-text {
            border-bottom: 1px solid #c2c2c2;
            color: #696969;
            font-size: .875em;
            line-height: 1.5em;
            margin: 0;
            padding: .66em 10px .75em;
        }

        /* AMP Media */

        amp-carousel {
            /*        background: #c2c2c2;*/
            margin: 0 -16px 1.5em;
        }

        amp-iframe,
        amp-youtube,
        amp-instagram,
        amp-vine {
            background: #c2c2c2;
            margin: 0 -16px 1.5em;
        }

        .amp-wp-article-content amp-carousel amp-img {
            border: none;
        }

        amp-carousel > amp-img > img {
            object-fit: contain;
        }

        .amp-wp-iframe-placeholder {
            background: #c2c2c2 url(/public/images/placeholder-icon.png) no-repeat center 40%;
            background-size: 48px 48px;
            min-height: 48px;
        }

        /* Article Footer Meta */

        .amp-wp-article-footer .amp-wp-meta {
            display: block;
        }

        .amp-wp-tax-category,
        .amp-wp-tax-tag {
            color: #696969;
            font-size: .875em;
            line-height: 1.5em;
            margin: 1.5em 16px;
        }

        .amp-wp-comments-link {
            color: #696969;
            font-size: .875em;
            line-height: 1.5em;
            text-align: center;
            margin: 2.25em 0 1.5em;
        }

        .amp-wp-comments-link a {
            border-style: solid;
            border-color: #c2c2c2;
            border-width: 1px 1px 2px;
            border-radius: 4px;
            background-color: transparent;
            color: #0a89c0;
            cursor: pointer;
            display: block;
            font-size: 14px;
            font-weight: 600;
            line-height: 18px;
            margin: 0 auto;
            max-width: 200px;
            padding: 11px 16px;
            text-decoration: none;
            width: 50%;
            -webkit-transition: background-color 0.2s ease;
            transition: background-color 0.2s ease;
        }

        /* AMP Footer */

        .amp-wp-footer {
            border-top: 1px solid #c2c2c2;
            margin: calc(1.5em - 1px) 0 0;
        }

        .amp-wp-footer div {
            margin: 0 auto;
            max-width: calc(840px - 32px);
            padding: 0.4em 16px 0.4em;
            position: relative;
        }

        .amp-wp-footer h2 {
            font-size: 1em;
            line-height: 1.375em;
        }

        .amp-wp-footer p {
            color: #696969;
            font-size: .8em;
            line-height: 1.5em;
            margin: 0 85px 0 0;
        }

        .amp-wp-footer a {
            text-decoration: none;
        }

        .ssbp-list {
            padding: 0 14px;
            overflow: hidden;
        }

        .ssbp-list li {
            list-style: none;
            display: inline-block;
            float: left;
            width: 33.3%;
            text-align: center;
        }

        .ssbp-list .ssbp-li--facebook a {
            background: #3b5998;
        }

        .ssbp-list .ssbp-li--whatsapp a {
            background: #34AF23;
        }

        .ssbp-list .ssbp-li--twitter a {
            background: #00a9f1;
        }

        .ssbp-list li a {
            padding: 3px;
            border-radius: 4px;
            margin: 0 3px;
            display: block;
            font-size: 12px;
            color: #fff;
            text-decoration: none;
        }

        /* Inline styles */
        .amp-wp-inline-157a53d27a33df354c1eba18855a0da5 {
            max-width: 1600px;
        }

        .amp-wp-inline-51042a11e77fd5709c76b51534747d68 {
            background-color: #ffffff;
            border-color: #ffffff;
            color: #000000;
        }

        body {
            -webkit-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
            -moz-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
            -ms-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
            animation: -amp-start 8s steps(1, end) 0s 1 normal both
        }

        @-webkit-keyframes -amp-start {
            from {
                visibility: hidden
            }
            to {
                visibility: visible
            }
        }

        @-moz-keyframes -amp-start {
            from {
                visibility: hidden
            }
            to {
                visibility: visible
            }
        }

        @-ms-keyframes -amp-start {
            from {
                visibility: hidden
            }
            to {
                visibility: visible
            }
        }

        @-o-keyframes -amp-start {
            from {
                visibility: hidden
            }
            to {
                visibility: visible
            }
        }

        @keyframes -amp-start {
            from {
                visibility: hidden
            }
            to {
                visibility: visible
            }
        }

        .amp-wp-article-content table {
            width: 100%;
            font-size: 13px;
        }

        .amp-wp-article-content table th,
        .amp-wp-article-content table td {
            padding: 0px 5px;
            border: 1px #d8d7d773 solid;
        }

        .other-news {
            margin-top: 30px;
        }

        .news-block {
            display: flex;
            margin: 0 0 15px 0;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
        }

        .news-block a {
            display: block;
            text-decoration: none;
        }

        .news-block .image {
            width: 160px;
        }

        .news-block amp-img {
            max-width: 100%;
        }

        .news-block .info {
            width: calc(100% - 160px);
            padding: 0 0 0 15px;
        }

        .news-block .date {
            color: #696969;
            font-size: .875em;
            line-height: 1.5em;
        }

        @media (max-width: 480px) {
            .news-block a {
                line-height: 1.4em;
                font-size: 15px;
            }

            .news-block .image {
                width: 120px;
            }

            .news-block .info {
                width: calc(100% - 120px);
                padding: 0 0 0 10px;
            }
        }

        .post-image-box-big,
        .post-image-box-small {
            margin: 0 0 1em;
        }

        .post-image-box-small {
            width: 292px;
        }

        .post-image-box-small.small-left {
            float: left;
            margin: 10px 10px 10px 0;
        }

        .post-image-box-small.small-right {
            float: right;
            margin: 10px 0 10px 10px;
        }

        .post-image-box-big .image-description {
            width: 100%;
            display: inline-block;
            font-size: 13px;
            font-family: arial;
            color: gray;
            line-height: 1.2;
            text-align: center;
        }

        .post-image-box-small .image-description {
            display: block;
            font-size: 13px;
            font-family: arial;
            color: gray;
            line-height: 1.2;
            text-align: center;
        }

        .person.flex .thumb {
            float: left;
            width: 50px;
            height: 50px;
            margin: 5px;
        }

        .person.flex .he-is {
            font-size: 14px;
            line-height: 1.3;
        }

        .amp-wp-frame {
            margin-left: 30px;
            margin-right: 30px;
        }

        amp-iframe[id*="rss_iframe_"] {
            background: transparent;
        }
    </style>
</head>

<body class="amp-mode-mouse">

<header id="#top" class="amp-wp-header">
    <div class="header-logo">
        <a href="{{ path('index') }}">
            <amp-img src="{{ asset('site/images/globus.gif') }}" width="32" height="32"></amp-img>
            {{ 'report_information_agency'|trans({}, 'common') }}
        </a>
    </div>
</header>

<article class="amp-wp-article">

    <header class="amp-wp-article-header">
        <h1 class="amp-wp-title">{{ post.title }}</h1>
        <div class="amp-wp-meta amp-wp-byline author-photo">
            <amp-img
                    src="{{ image(post.author_thumb, {'thumb': 85}) }}"
                    alt="{{ post.author_name }}"
                    width="36" height="36" layout="fixed">
            </amp-img>
            <span class="amp-wp-author author vcard">
                <strong>{{ post.author_name }}</strong>
                <br>
                {{ 'author_of_post'|trans({}, 'common') }}
            </span>
        </div>

        <div class="amp-wp-meta amp-wp-posted-on">
            <time datetime="<?= date('H:i', $post->published_at->getTimestamp()) ?>">
                {{ post.publishedAt|format_datetime(pattern='d MMMM, yyyy / HH:mm') }}
            </time>
        </div>
    </header>
    {% if post.hasImage() %}
        <figure>
            <amp-img src="{{ postPhoto }}" width="850" height="530" layout=responsive></amp-img>
        </figure>
    {% endif %}

    <div class="amp-wp-article-content">
        {{ preparedPostContent|raw }}

        {% if post.hasYoutubeVideo() %}
            <amp-youtube data-videoid="{{ post.youtubeId }}" layout="responsive" width="480" height="270"></amp-youtube>
        {% endif %}
    </div>

    {% if post.isPhoto() %}
        <amp-carousel width="640" height="427" layout="responsive" type="slides">

            {% for photo in photos %}
            <figure>
                <amp-img src="{{ image(photo.filename, {'thumb': 850}) }}" width=850 height=530 layout=responsive></amp-img>
            </figure>
            {% endfor %}

        </amp-carousel>
    {% endif %}

    <!-- counter image here -->

    <ul class="ssbp-list">
        <li class="ssbp-li--facebook">
            <a href="http://www.facebook.com/sharer.php?u={{ postAbsoluteUrl }}" target="_blank"
               class="ssbp-btn ssbp-facebook">
                <span class="ssbp-text">Facebook</span>
            </a>
        </li>
        <li class="ssbp-li--whatsapp">
            <a href="whatsapp://send?text={{ postAbsoluteUrl }}" target="_blank" class="ssbp-btn ssbp-whatsapp">
                <span class="ssbp-text">WhatsApp</span>
            </a>
        </li>
        <li class="ssbp-li--twitter">
            <a href="https://twitter.com/share?url={{ postAbsoluteUrl }}&text={{ post.getTitleWithoutQuotes }}"
               target="_blank" class="ssbp-btn ssbp-twitter">
                <span class="ssbp-text">Twitter</span>
            </a>
        </li>
    </ul>

    <!--  related news  -->

    <!--  rss block      -->
    <div class="amp-wp-frame">
        <amp-iframe
                id="rss_iframe_0202538c8a"
                src="https://api.rss.az/amp/code/0202538c8a.html"
                width="380"
                height="380"
                heights="270px"
                layout="responsive"
                sandbox="allow-top-navigation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"
                frameborder="0">
        </amp-iframe>
    </div>

    <!--  news feed  -->

    <div class="amp-wp-article-content other-news">
        <h3>{{ 'news_feed'|trans({}, 'common') }}</h3>

        {{
            widget('widget.post', {
                'template': '../../mobile/widget.post/latest_news_amp.html.twig',
                'filters': [
                    'select',
                    'latest',
                    {'limit': 15},
                    {'lang': post.language},
                    'published',
                    'withPhoto',
                    'withCategory',
                ]
            })
        }}

    </div>

    <!--?= HtmlHelper::getCounterAmpImage($post->id, $post->language) ?-->
</article>

<footer class="amp-wp-footer">
    <div>
        <h2>{{ 'report_information_agency'|trans({}, 'common') }}</h2>
    </div>
</footer>

{#<amp-analytics type="googleanalytics">#}
{#    <script type="application/json">#}
{#        {#}
{#            "vars": {#}
{#                "account": "UA-56120527-1"#}
{#            },#}
{#            "triggers": {#}
{#                "trackPageview": {#}
{#                    "on": "visible",#}
{#                    "request": "pageview"#}
{#                }#}
{#            }#}
{#        }#}
{#    </script>#}
{#</amp-analytics>#}

{#<amp-analytics type="metrika">#}
{#    <script type="application/json">#}
{#        {#}
{#            "vars": {#}
{#                "counterId": "51449475"#}
{#            }#}
{#        }#}
{#    </script>#}
{#</amp-analytics>#}

{#<amp-analytics id="analytics_liveinternet">#}
{#    <script type="application/json">{#}
{#            "requests": {#}
{#                "pageview": "https://counter.yadro.ru/hit?u${ampdocUrl};r${documentReferrer};s${screenWidth}*${screenHeight}*32;h${title};${random}"#}
{#            },#}
{#            "triggers": {#}
{#                "track pageview": {#}
{#                    "on": "visible",#}
{#                    "request": "pageview"#}
{#                }#}
{#            }#}
{#        }#}
{#    </script>#}
{#</amp-analytics>#}

</body>
</html>