<section class="interviews ptb-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-header flex">
                    <h2 class="section-title">{{ 'opinion'|trans({}, 'common') }}</h2>
                    <div class="actions hidden-575">
                        <div class="slider-controls flex">
                            <div class="prev-slide flex-center">
                                <i class="icon-angle-left"></i>
                            </div>
                            <div class="next-slide flex-center">
                                <i class="icon-angle-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Section header-->

                <div class="swiper-container">
                    <div class="swiper-wrapper">

                        {% for post in posts %}

                            {% set titleWithoutQuotes = post.getTitleWithoutQuotes() %}

                            <div class="swiper-slide">
                                <div class="person-card flex">
                                    {% if (post.isOpinion() and post.expert_slug) %}

                                        <div class="image">
                                            <a href="{{ path('post_view', {
                                                'categorySlug': post.category_slug,
                                                'slug': post.slug,
                                            }) }}">
                                                <img src="{{ image(null, {'thumb': 226}) }}"
                                                     data-src="{{ image(post.image, {'thumb': 226}) }}"
                                                     class="swiper-lazy"
                                                     alt="{{ titleWithoutQuotes }}"
                                                     title="{{ titleWithoutQuotes }}"
                                                >
                                            </a>
                                        </div>
                                        <div class="info flex">
                                            <a class="name text-uppercase"
                                               href="{{ path('expert_view', {'slug': post.expert_slug}) }}">
                                                {{ post.getExpertName() }}
                                            </a>
                                            <p class="he-is text-uppercase">{{ post.expert_position }}</p>
                                            <a class="title"
                                               href="{{ path('post_view', {
                                                   'categorySlug': post.category_slug,
                                                   'slug': post.slug,
                                               }) }}">{{ post.getPreparedTitle()|raw }}</a>
                                            <div class="news-date">
                                                <span>{{ post.publishedAt|format_datetime(pattern='d MMMM, y') }}</span>
                                                <span>{{ post.publishedAt.format('H:i') }}</span>
                                            </div>
                                        </div>

                                    {% else %}

                                        <div class="image">
                                            <a href="{{ path('post_view', {
                                                'categorySlug': post.category_slug,
                                                'slug': post.slug,
                                            }) }}">
                                                <img src="{{ image(null, {'thumb': 226}) }}"
                                                     data-src="h{{ image(post.image, {'thumb': 226}) }}"
                                                     class="swiper-lazy"
                                                     alt="{{ titleWithoutQuotes }}"
                                                     title="{{ titleWithoutQuotes }}"
                                                >
                                            </a>
                                        </div>
                                        <div class="info flex">
                                            <a class="name text-uppercase" href="{{ path('author_view', {'slug': post.author_slug}) }}">
                                                {{ post.getAuthorName() }}
                                            </a>
                                            <p class="he-is text-uppercase">{{ post.author_position }}</p>
                                            <a class="title" href="{{ path('post_view', {
                                                'categorySlug': post.category_slug,
                                                'slug': post.slug,
                                            }) }}">{{ post.getPreparedTitle()|raw }}</a>
                                            <div class="news-date">
                                                <span>{{ post.publishedAt|format_datetime(pattern='d MMMM, y') }}</span>
                                                <span>{{ post.publishedAt.format('H:i') }}</span>
                                            </div>
                                        </div>

                                    {% endif %}
                                </div>
                            </div>

                        {% endfor %}

                    </div>
                </div>
                <!-- Slider container-->
            </div>
        </div>
    </div>
</section>
