<section class="intro-slider">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="swiper-container">
                    <div class="swiper-wrapper">

                        {% for post in posts %}

                            <div class="swiper-slide">
                                <div class="swiper-lazy cover-center" data-background="{{ image(post.image, {'thumb': 1250}) }}"></div>

                                <div class="slide-news flex">
                                    <a class="news-category"
                                       href="{{ path('category_view', {'slug': post.category_slug}) }}">{{ post.category_title }}</a>
                                    <a class="title"
                                       href="{{ path('post_view', {
                                           'categorySlug': post.category_slug,
                                           'slug': post.slug,
                                       }) }}">
                                        {{ post.getPreparedTitle()|raw }}
                                    </a>
                                    <div class="news-date">
                                        <span>{{ post.publishedAt|format_datetime(pattern='d MMMM, y') }}</span>
                                        <span>{{ post.publishedAt.format('H:i') }}</span>
                                    </div>
                                </div>

                                <div class="divider hidden-992"></div>

                                <div class="slide-related-news hidden-992">
                                    <div class="row">

                                        {% for otherPost in posts %}

                                            {% if (otherPost.id != post.id) %}
                                                <div class="col-lg-4">
                                                    <div class="news-item">
                                                        <a class="title"
                                                           href="{{ path('post_view', {
                                                               'categorySlug': otherPost.category_slug,
                                                               'slug': otherPost.slug,
                                                           }) }}">
                                                            {{ otherPost.getPreparedTitle()|raw }}
                                                        </a>
                                                        <div class="news-date">
                                                            <span>{{ otherPost.publishedAt|format_datetime(pattern='d MMMM, y') }}</span>
                                                            <span>{{ otherPost.publishedAt.format('H:i') }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}

                                        {% endfor %}

                                    </div>
                                </div>
                                <!-- Slide related news-->
                            </div>
                            <!-- Slide-->

                        {% endfor %}

                    </div>

                    <div class="slider-controls flex">
                        <div class="prev-slide flex-center">
                            <i class="icon-angle-left"></i>
                        </div>
                        <div class="next-slide flex-center">
                            <i class="icon-angle-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Intro slider-->