{% extends '@RiaAdmin/layout.html.twig' %}

{% block content %}
    {{ form_start(form) }}
    {{ form_row(form._token) }}
    <div class="row">
        <div class="col-lg-8 center">
            <div class="panel">
                <div class="panel-heading pt-15 pl-15">
                    <h2 class="text-center">Changing password of: {{ user.getTranslation(admin_locale).getFullName() }}</h2>
                    <hr>
                </div>
                <div class="panel-body">
                    {{ form_row(form.password) }}
                    <div class="row float-right">
                        <div class="col-lg-12">
                            {{ form_row(form.submit) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}