{% extends '@RiaWeb/layouts/layout.html.twig' %}

{% block title %}{{ 'persons'|trans({}, 'common') }} | Report.ge{% endblock %}

{% block content %}

    <section class="persons-page pt-20">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="page-title">{{ 'persons'|trans({}, 'common') }}</h2>
                    <p class="info-text">{{ 'persons_info_text'|trans({}, 'common') }}</p>
                    <p class="hint">{{ 'persons_hint'|trans({}, 'common') }}</p>
                    <div class="alphabetic-filter">
                        {% include '@RiaWeb/person/partials/_alphabetic-filter.html.twig' with {'chars': chars} %}
                    </div>
                    <!-- Alphabetic filter-->
                    <div class="persons-list">
                        <div class="row load-container" data-url="/persons">
                            {% for person in persons %}
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="person-card flex">
                                        <div class="image">
                                            <a href="{{ path('person_view', {'slug': person.slug}) }}">
                                                <img src="{{ image(person.photo, {'thumb': 226}) }}"
                                                     alt="{{ person.getFullName() }}">
                                            </a>
                                        </div>
                                        <div class="info flex">
                                            <a class="name text-uppercase"
                                               href="{{ path('person_view', {'slug': person.slug}) }}">
                                                {{ person.getFullName() }}
                                            </a>
                                            <p class="he-is text-uppercase">{{ person.position }}</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Col-->
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Persons list-->
                </div>
            </div>
        </div>
    </section>
    <!-- Persons page-->

    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [
                {
                    "@type": "ListItem",
                    "position": 1,
                    "item": {
                        "@id": "{{ url('index') }}",
                        "name": "{{ 'main_page'|trans({}, 'common') }}"
                    }
                },
                {
                    "@type": "ListItem",
                    "position": 2,
                    "item": {
                        "name": "{{ 'persons'|trans({}, 'common') }}"
                    }
                }
            ]
        }

    </script>

{% endblock %}