{% block ria_select2_row %}

    {% set attr = attr|merge({
        'data-selectable': 'true',
        'class': (attr.class|default('') ~ ' form-control')|trim,
    }) %}

    {% if allow_add %}
        {% set attr = attr|merge({
            'data-tags': 'true',
        }) %}
    {% endif %}

    {% if select_placeholder is not empty -%}
        {% set attr = attr|merge({
            'data-placeholder': select_placeholder,
        }) %}
    {%- endif %}


    {% if multiple -%}
        {% set attr = attr|merge({style: (attr.style|default('') ~ ' height: auto; background-image: none;')|trim}) %}
    {% endif %}

    {% if required and placeholder is none and not placeholder_in_choices and not multiple -%}
        {% set required = false %}
    {%- endif -%}

    {% if xhr_route is not empty -%}
        {% set attr = attr|merge({
            'data-xhr-route': xhr_route,
        }) %}
    {%- endif %}

    {% if errors|length > 0 -%}
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' error')|trim}) %}
    {% endif %}

    <div class="form-group">
        {{ form_errors(form) }}

            <label for="{{ form.vars.id }}">{{ form.vars.label|trans }}</label>
            {% apply spaceless %}
                <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple" data-customforms="disabled"{% endif %}>
                    {% if placeholder is not none -%}
                        <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain) }}</option>
                    {%- endif %}
                    {%- if preferred_choices|length > 0 -%}
                        {% set options = preferred_choices %}
                        {% set render_preferred_choices = true %}
                        {{- block('choice_widget_options') -}}
                        {% if choices|length > 0 and separator is not none -%}
                            <option disabled="disabled">{{ separator }}</option>
                        {%- endif %}
                    {%- endif -%}
                    {% set options = choices -%}
                    {%- set render_preferred_choices = false -%}
                    {{- block('choice_widget_options') -}}
                </select>
        {% endapply %}
    </div>
{% endblock %}

