{% extends '@RiaAdmin/layout.html.twig' %}

{% block header_actions %}
    <a href="{{ path('regions.create') }}" type="button"
       class="btn btn-lg btn-icon btn-primary btn-round waves-effect waves-classic"
       data-toggle="tooltip" data-original-title="{{ 'Create' | trans }}">
        <i class="icon md-plus" aria-hidden="true"></i>
    </a>
{% endblock %}

{% block content %}

    <div class="panel">
        <div class="panel-body">
            {% embed data_grid.grid.default_twig with {'grid': grid} %}
                {% block kit_grid_cell_id_order %}
                    <a href="{{ path('regions.move-up', {id: item['r.id']}) }}" data-method="post"><i class="icon wb-chevron-up"></i></a>
                    <a href="{{ path('regions.move-down', {id: item['r.id']}) }}" data-method="post"><i class="icon wb-chevron-down"></i></a>
                {% endblock %}

                {% block kit_grid_tbody_column %}
                    <td>
                        <a class="table_action" href="{{ path('regions.update', {id: item['r.id']}) }}">
                            <span class="md-edit"></span>
                        </a>
                        <a class="table_action" href="{{ path('regions.delete', {id: item['r.id']}) }}" onclick="return confirm('Are you sure you want to delete this item?')">
                            <span class="md-delete"></span>
                        </a>
                    </td>
                {% endblock %}
            {% endembed %}
        </div>
    </div>

{% endblock %}