<section class="audio-playlist ptb-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="section-title"><a href="/playlist/">{{ 'audio_news'|trans({}, 'common') }}</a></h2>
                <div class="swiper-container">
                    <div class="swiper-wrapper">

                        {% for post in posts %}

                            {% set titleWithoutQuotes = post.getTitleWithoutQuotes() %}

                            <div class="swiper-slide">
                                <div class="audio-news">
                                    <div class="image">
                                        <a href="{{ path('post_view', {
                                            'categorySlug': post.category_slug,
                                            'slug': post.slug,
                                        }) }}"
                                           class="ga-event-link"
                                           data-event="{{ 'audio_news'|trans({}, 'common') }} | {{ 'main_page'|trans({}, 'common') }}"
                                        >
                                            <img src="{{ image('thunk.jpg', {'thumb': 321}) }}"
                                                 data-src="{{ image(post.image, {'thumb': 321}) }}"
                                                 class="swiper-lazy"
                                                 alt="{{ titleWithoutQuotes }}"
                                                 title="{{ titleWithoutQuotes }}"
                                            >
                                        </a>
                                    </div>

                                    <div class="news-player">
                                        <audio preload="metadata">
                                            <source src="{{ speech(post.speech_filename) }}" type="audio/mpeg">
                                        </audio>

                                        <div class="player">
                                            <div class="player-controls">
                                                <div class="toggle-play">
                                                    <i class="icon-play"></i>
                                                </div>
                                            </div>

                                            <div class="player-progress">
                                                <div class="player-timing">
                                                    <div class="current-time">0 : 00</div>
                                                    <div class="total-time">0 : 00</div>
                                                </div>
                                                <div class="progress">
                                                    <div class="tracker"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="info">
                                        <a class="title ga-event-link"
                                           href="{{ path('post_view', {
                                               'categorySlug': post.category_slug,
                                               'slug': post.slug,
                                           }) }}"
                                           data-event="{{ 'audio_news'|trans({}, 'common') }} | {{ 'main_page'|trans({}, 'common') }}"
                                        >{{ post.getPreparedTitle()|raw }}</a>
                                        <div class="category-date flex">
                                            <a class="category"
                                               href="{{ path('category_view', {'slug': post.category_slug}) }}/">
                                                {{ post.category_title }}
                                            </a>
                                            <div class="news-date">
                                                <span>{{ post.publishedAt|format_datetime(pattern='d MMMM, y') }}</span>
                                                <span>{{ post.publishedAt.format('H:i') }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Slide-->

                        {% endfor %}

                    </div>

                    <div class="swiper-pagination"></div>
                </div>
                <!-- Slider container-->
            </div>
            <!-- Col-->
        </div>
    </div>
</section>
<!-- Main for week-->