<section class="intro-slider">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="swiper-container">
                    <div class="swiper-wrapper">

                        {% for post in posts %}

                            <div class="swiper-slide">
                                <div class="swiper-lazy cover-center" data-background="{{ image(post.image, {'thumb': 994}) }}"></div>
                                <div class="slide-news flex">
                                    <a class="news-category"
                                       href="{{ path('category_view', {'slug': post.category_slug}) }}">{{ post.category_title }}</a>
                                    <a class="title"
                                       href="{{ path('post_view', {'categorySlug': post.category_slug, 'slug': post.slug}) }}">
                                        {{ post.getPreparedTitle()|raw }}
                                    </a>
                                    <div class="news-date">
                                        <span>{{ post.publishedAt|format_datetime(pattern='d MMMM, y') }}</span>
                                        <span>{{ post.publishedAt.format('H:i') }}</span>
                                    </div>
                                </div>
                            </div>
                            <!-- Slide-->

                        {% endfor %}

                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <!-- Slider container-->
            </div>
        </div>
    </div>
</section>
<!-- Intro slider-->